body{
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.add-item {
    background: #F2F0F9;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    color: #6E6893;
    padding: 32px 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.05em;
    position: absolute;
    max-width: 792px;
    max-height: 606px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto auto;
}

.add-item__container {
    padding: 0 106px;
}

.add-item__title {
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
}

.add-item__content {
    border-style: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 28px;
    margin-bottom: 28px;
}

.add-item__line {
    margin-bottom: 21px;
    height: 1px;
    background: #C6C2DE;
}


.add-item__input-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.add-item__input-set .add-item__input {
    margin-top: 0;
    max-width: calc(250px - 40px - 10px);
}

.add-item__block {
    display: flex;
    flex-direction: column;

}

.add-item__label {
    padding-left: 10px;
}

.add-item__input {
    min-height: 40px;
    background: #F4F2FF;
    border-radius: 6px;
    border-style: none;
    font-size: 16px;
    padding-left: 10px;
    margin-top: 5px;
}

.add-item__input:disabled {
    background-color: #EEEEEE;
}

.add-item__input:focus {
    outline: none;
}

.add-item__content {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    column-gap: 24px;
    row-gap: 12px;
    grid-template-areas:
    "name       description"
    "category   description"
    "measure    quantity"
    "discount   price"
    ".   add-image";
}

.add-item__name {
    grid-area: name;
}

.add-item__category {
    grid-area: category;
}

.add-item__measure {
    grid-area: measure;
}

.add-item__discount {
    grid-area: discount;
}

.add-item__description {
    grid-area: description;
}

.add-item__description
.add-item__input {
    min-height: 112px;
}

.add-item__quantity {
    grid-area: quantity;
}

.add-item__price {
    grid-area: price;
}

.add-item__add-image-button {
    grid-area: add-image;
}

.add-item__checkbox {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.add-item__checkbox:before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    background: #F4F2FF;
    /*box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);*/
    border-radius: 8px;
}

.add-item__checkbox:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 10px;
    width: 20px;
    height: 10px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
}

.add-item__checkbox:focus-visible {
    outline: none;
}

.add-item__checkbox:checked:after {
    opacity: 1;
}

.add-item__checkbox:focus:before {
    box-shadow: 0px 0px 10px rgba(113, 0, 227, 0.5);
}

.add-item__checkbox:hover:not(:disabled):before {
    box-shadow: 0px 0px 10px rgba(0, 113, 227, 0.5);
}

.add-item__checkbox:disabled:before {
    background-color: #cccccc;
}

.add-item__button {
    background: #6D5BD0;
    border-radius: 6px;
    border-style: none;
    text-transform: inherit;
    color: #FFFFFF;
    position: relative;
    font-weight: 600;
}

.add-item__add-image-button {
    grid-area: add-image;
    position: relative;
    display: flex;
    flex-direction: column;
}

.add-item__label-add-image {
    position: absolute;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    left: 23px;
    top: 31px;
    z-index: 1;
    color: var(--color-FFFFFF);
}

.add-item__button-image {
    padding: 11px 27px;
    margin-top: 20px;
    min-height: 39px;
    color: transparent;
    max-width: 250px;
}


.add-item__button-image::-webkit-file-upload-button {
    display: none;
}

.add-item__total-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 28px;
}

.add-item__total {
    align-self: start;
}

.add-item__total-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-6E6893);
}

.add-item__total-value {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-6D5BD0);
}

.add-item__button-item {
    font-size: 16px;
    line-height: 19px;
    padding: 10px 25px;
}

.add-item-close-button {
    color: #6E6893;
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 0;
    border-style: none;
}

@media (max-width: 800px) {

    .add-item {
        position: absolute;
        max-width: 792px;
        max-height: unset;
        margin: auto auto;
    }

    .add-item__content {
        min-width: 580px;
    }

    .add-item__overflow {
        overflow-x: auto;
    }

    .add-item__title {
        text-align: center;
    }

    .add-item__block {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        max-width: 524px;
    }

    .add-item__total-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 28px;
    }

    .add-item__add-image-button {
        flex-direction: row;
        justify-content: end;
    }

    .add-item__label-add-image {
        position: absolute;
        width: fit-content;
        left: unset;
        right: 23px;
        top: 31px;
    }

    .add-item__button-image {
        max-width: 250px;
    }

    .add-item__total {
        margin: 0 auto;
    }

    .add-item__button-item {
        width: 250px;
    }

    .add-item__input-set {
        display: grid;
        grid-template-columns: 40px 200px;
        column-gap: 10px;
    }

    .add-item__input-set .add-item__input {
        max-width: 500px;
    }
}

@media (max-width: 500px) {

    .add-item__overflow {
        overflow-x: unset;
    }

    .add-item__container {
        padding: 0 20px;
    }

    .add-item__content {
        grid-template-columns: 1fr;
        grid-template-areas:
        "name       "
        "category   "
        "measure    "
        "discount  "
        "description"
        "quantity"
        "price"
        "add-image";

        min-width: unset;
        padding: 28px 15px;
    }

    .add-item__content {
        grid-template-columns: minmax(200px, 540px);
    }

    .add-item__input-set {
        justify-content: start;
        grid-template-columns: 40px minmax(200px, calc(524px - 50px));
    }

    .add-item-close-button {
        top: 12px;
        right: 8px;
    }
}